{
    "extends": "react-app",
    "rules": {
        "camelcase": 0,
        "react/no-array-index-key": 0,
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/self-closing-comp": ["error", {
          "component": true,
          "html": true
        }],
        "quotes": [2, "single"],
        "global-require": 0,
        "indent": [2, 4],
        "max-len": [1, 120, 2, {"ignoreComments": true}],
        "quote-props": [1, "consistent-as-needed"],
        "no-cond-assign": [2, "except-parens"],
        "radix": 0,
        "space-infix-ops": 0,
        "no-unused-vars": [1, {"vars": "local", "args": "none"}],
        "default-case": 0,
        "no-else-return": 0,
        "no-param-reassign": 0,
        "no-plusplus": 0,
        "import/prefer-default-export": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "linebreak-style": 0
      }
    }